
<!-- counts div -->
  <div class=" col-md-8 p-0">
    <div class="card bg-c-blue update-card">
      <div class="card-block">
        <div class="row align-items-end">
          <div class="col-12">
            <h4 class="text-white m-b-0">{% if otherFields.0 != "Empty" %}{{otherFields.0}}{% else %}National{% endif %}
              {% if otherFields.1 != "Empty" %}/{{otherFields.1}}{% endif %}</h4>
              <div class="row">
              <h5 class="text-white m-b-0 col-4">Female Responses: {{Questions4MaleFemale.0.id__count}}</h5>
              <h5 class="text-white m-b-0 col-4">Male Responses: {{Questions4MaleFemale.1.id__count}}</h5>
            <h5 class="text-white m-b-0 col-4">Total Responses: {{totalResponse_questionnaire4}}</h5>
          </div>
        </div>
          <!-- <div class="col-4 text-right">
            <canvas id="update-chart-1" height="50"></canvas>
          </div> -->
        </div>
      </div>
    </div>
  </div>
<!-- end -->

<!-- Are You Engaged in Any Economic Activity? -->
  <div class=" col-md-8  p-0">
      <div id="container011A5"></div>
  </div>
<!-- end -->

<!-- What type of Economic activity are you Engaged in? -->
<div class="col-md-8 p-0">
      <div id="container021A5"></div>
</div>
<!-- end -->

<!-- What is your level of education -->
<div class="col-md-8 p-0">
  <div id="container031A5"></div>
</div>
<!-- end -->

<h5><strong>Opinion</strong></h5>
<!--Do you think it is a call in the right direction?-->
<div class="col-md-8 p-0">
  <div id="container041A5"></div>
</div>
<!-- end -->

<h5><strong>Awareness</strong></h5>
<!-- Are you aware of the suspension of the referendum?-->
<div class="col-md-8 p-0">
  <div id="container051A5"></div>
</div>
<!-- end -->


{% block js %}  

<script>
  // ///////Are You Engaged in Any Economic Activity?
var trace1 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
{% for i in anyEconomyAge1PSQ4 %}{% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge2PSQ4 %}{% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge3PSQ4 %}{% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge4PSQ4 %}{% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge5PSQ4 %}{% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge6PSQ4 %}{% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge7PSQ4 %}{% if i.0 == 'Yes' %}Math.round({{i.1}}){% endif %}{% endfor %}

],
  name: 'Yes',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
{% for i in anyEconomyAge1PSQ4 %}{% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge2PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge3PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge4PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge5PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge6PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in anyEconomyAge7PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}){% endif %}{% endfor %}

],
  name: 'No',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

var data = [trace1,trace2];

var layout = {
        barmode: 'stack',
        xaxis: {title: 'Age_category'},
       yaxis: {title: 'Count'},
        title: 'Are You Engaged in Any Economic Activity?'

          };

Plotly.newPlot('container011A5', data, layout);
/////////////////////////////


///// What type of Economic activity are you Engaged in?
var trace1 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in engagedActivity1PSQ4 %}{% if i.0 == 'Not working' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity2PSQ4 %} {% if i.0 == 'Not working' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity3PSQ4 %} {% if i.0 == 'Not working' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity4PSQ4 %} {% if i.0 == 'Not working' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity5PSQ4 %} {% if i.0 == 'Not working' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity6PSQ4 %} {% if i.0 == 'Not working' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity7PSQ4 %} {% if i.0 == 'Not working' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Not working',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in engagedActivity1PSQ4 %}{% if i.0 == 'Private sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity2PSQ4 %} {% if i.0 == 'Private sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity3PSQ4 %} {% if i.0 == 'Private sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity4PSQ4 %} {% if i.0 == 'Private sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity5PSQ4 %} {% if i.0 == 'Private sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity6PSQ4 %} {% if i.0 == 'Private sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity7PSQ4 %} {% if i.0 == 'Private sector' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Private Sector',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

var trace3 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in engagedActivity1PSQ4 %}{% if i.0 == 'Public sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity2PSQ4 %} {% if i.0 == 'Public sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity3PSQ4 %} {% if i.0 == 'Public sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity4PSQ4 %} {% if i.0 == 'Public sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity5PSQ4 %} {% if i.0 == 'Public sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity6PSQ4 %} {% if i.0 == 'Public sector' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity7PSQ4 %} {% if i.0 == 'Public sector' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Public Sector',
  type: 'bar',
    marker: {
      color: 'black'
    }
};

var trace4 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in engagedActivity1PSQ4 %}{% if i.0 == 'Self-employed' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity2PSQ4 %} {% if i.0 == 'Self-employed' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity3PSQ4 %} {% if i.0 == 'Self-employed' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity4PSQ4 %} {% if i.0 == 'Self-employed' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity5PSQ4 %} {% if i.0 == 'Self-employed' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity6PSQ4 %} {% if i.0 == 'Self-employed' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity7PSQ4 %} {% if i.0 == 'Self-employed' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Self-employed',
  type: 'bar',
    marker: {
      color: 'yellow'
    }
};


var trace5 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in engagedActivity1PSQ4 %}{% if i.0 == 'Student' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity2PSQ4 %} {% if i.0 == 'Student' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity3PSQ4 %} {% if i.0 == 'Student' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity4PSQ4 %} {% if i.0 == 'Student' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity5PSQ4 %} {% if i.0 == 'Student' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity6PSQ4 %} {% if i.0 == 'Student' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity7PSQ4 %} {% if i.0 == 'Student' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Student',
  type: 'bar',
    marker: {
      color: 'blue'
    }
};

var trace6 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in engagedActivity1PSQ4 %}{% if i.0 == 'Others' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity2PSQ4 %} {% if i.0 == 'Others' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity3PSQ4 %} {% if i.0 == 'Others' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity4PSQ4 %} {% if i.0 == 'Others' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity5PSQ4 %} {% if i.0 == 'Others' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity6PSQ4 %} {% if i.0 == 'Others' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in engagedActivity7PSQ4 %} {% if i.0 == 'Others' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Others',
  type: 'bar',
    marker: {
      color: 'voilet'
    }
};
var data = [trace1,trace2,trace3,trace4,trace5,trace6];

var layout = {
        barmode: 'stack',
        xaxis: {title: 'Age_category'},
       yaxis: {title: 'Count'},
        title: 'What type of Economic activity are you Engaged in?'

          };

Plotly.newPlot('container021A5', data, layout);

///////////////////////////////////


///// What is your level of education
var trace1 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
{% for i in education_level1PSQ4 %}{% if i.0 == 'No formal education' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level2PSQ4 %} {% if i.0 == 'No formal education' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level3PSQ4 %} {% if i.0 == 'No formal education' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level4PSQ4 %} {% if i.0 == 'No formal education' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level5PSQ4 %} {% if i.0 == 'No formal education' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level6PSQ4 %} {% if i.0 == 'No formal education' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level7PSQ4 %} {% if i.0 == 'No formal education' %}Math.round({{i.1}}){% endif %}{% endfor %}


],
  name: 'No formal education',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in education_level1PSQ4 %}{% if i.0 == 'JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level2PSQ4 %} {% if i.0 == 'JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level3PSQ4 %} {% if i.0 == 'JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level4PSQ4 %} {% if i.0 == 'JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level5PSQ4 %} {% if i.0 == 'JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level6PSQ4 %} {% if i.0 == 'JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level7PSQ4 %} {% if i.0 == 'JHS' %}Math.round({{i.1}}){% endif %}{% endfor %}

],
  name: 'JHS',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

  
var trace3 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in education_level1PSQ4 %}{% if i.0 == 'SHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level2PSQ4 %} {% if i.0 == 'SHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level3PSQ4 %} {% if i.0 == 'SHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level4PSQ4 %} {% if i.0 == 'SHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level5PSQ4 %} {% if i.0 == 'SHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level6PSQ4 %} {% if i.0 == 'SHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level7PSQ4 %} {% if i.0 == 'SHS' %}Math.round({{i.1}}){% endif %}{% endfor %}


],
  name: 'SHS',
  type: 'bar',
    marker: {
      color: 'yellow'
    }
};

  
var trace4 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in education_level1PSQ4 %}{% if i.0 == 'Post-graduate' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level2PSQ4 %} {% if i.0 == 'Post-graduate' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level3PSQ4 %} {% if i.0 == 'Post-graduate' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level4PSQ4 %} {% if i.0 == 'Post-graduate' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level5PSQ4 %} {% if i.0 == 'Post-graduate' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level6PSQ4 %} {% if i.0 == 'Post-graduate' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level7PSQ4 %} {% if i.0 == 'Post-graduate' %}Math.round({{i.1}}){% endif %}{% endfor %}


],
  name: 'Post-graduate',
  type: 'bar',
    marker: {
      color: 'black'
    }
};
  
var trace5 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in education_level1PSQ4 %}{% if i.0 == 'Tertiary' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level2PSQ4 %} {% if i.0 == 'Tertiary' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level3PSQ4 %} {% if i.0 == 'Tertiary' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level4PSQ4 %} {% if i.0 == 'Tertiary' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level5PSQ4 %} {% if i.0 == 'Tertiary' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level6PSQ4 %} {% if i.0 == 'Tertiary' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level7PSQ4 %} {% if i.0 == 'Tertiary' %}Math.round({{i.1}}){% endif %}{% endfor %}

],
  name: 'Tertiary',
  type: 'bar',
    marker: {
      color: 'brown'
    }
};

  
var trace6 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in education_level1PSQ4 %}{% if i.0 == 'Below JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level2PSQ4 %} {% if i.0 == 'Below JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level3PSQ4 %} {% if i.0 == 'Below JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level4PSQ4 %} {% if i.0 == 'Below JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level5PSQ4 %} {% if i.0 == 'Below JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level6PSQ4 %} {% if i.0 == 'Below JHS' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in education_level7PSQ4 %} {% if i.0 == 'Below JHS' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Below JHS',
  type: 'bar',
    marker: {
      color: 'voilet'
    }
};
var data = [trace1,trace2,trace3,trace4,trace5,trace6];

var layout = {
        barmode: 'stack',
        xaxis: {title: 'Age_category'},
       yaxis: {title: 'Count'},
        title: 'What is your level of education'

          };

Plotly.newPlot('container031A5', data, layout);

///////////////////////////////////


// Have you registered your sim card?
var trace1 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in registered_your_sim_card1PSQ4 %}{% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card2PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card3PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card4PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card5PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card6PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card7PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Yes',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in registered_your_sim_card1PSQ4 %}{% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card2PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card3PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card4PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card5PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card6PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card7PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'No',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

var trace3 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in registered_your_sim_card1PSQ4 %}{% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card2PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card3PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card4PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card5PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card6PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in registered_your_sim_card7PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Indifferent',
  type: 'bar',
    marker: {
      color: 'gray'
    }
};


var data = [trace1,trace2,trace3];

var layout = {
        barmode: 'stack',
        xaxis: {title: 'Age_category'},
       yaxis: {title: 'Count'},
        title: 'Have you registered your sim card?'

          };

Plotly.newPlot('container041A5', data, layout);
////////////////////////////


// delay_in_issuance_Ghana_card_affected_Sim_registration
var trace1 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in diigcasr1PSQ4 %}{% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr2PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr3PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr4PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr5PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr6PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr7PSQ4 %} {% if i.0 == 'Yes' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Yes',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in diigcasr1PSQ4 %}{% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr2PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr3PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr4PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr5PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr6PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr7PSQ4 %} {% if i.0 == 'No' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'No',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

var trace3 = {
  x: ['18 - 28','29 - 39','40 - 49','50 - 59','60+'],
  y: [
  {% for i in diigcasr1PSQ4 %}{% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr2PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr3PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr4PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr5PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr6PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}),{% endif %}{% endfor %}
{% for i in diigcasr7PSQ4 %} {% if i.0 == 'Indifferent' %}Math.round({{i.1}}){% endif %}{% endfor %}
],
  name: 'Indifferent',
  type: 'bar',
    marker: {
      color: 'gray'
    }
};

var data = [trace1,trace2,trace3];
var layout = {
        barmode: 'stack',
        xaxis: {title: 'Age_category'},
       yaxis: {title: 'Count'},
        title: "Do you think the delay in the issuance of the Ghana card has affected the Sim card registration?"

          };
Plotly.newPlot('container051A5', data, layout);
////////////////////////////






</script>

{% endblock js %}
