<style>
 

</style>

<!-- counts div -->
  <div class=" col-md-8 p-0">
    <div class="card bg-c-yellow update-card">
      <div class="card-block">
        <div class="row align-items-end">
          <div class="col-12">
            <h4 class="text-white m-b-0">{% if otherFields.0 != "Empty" %}{{otherFields.0}}{% else %}National{% endif %}
              {% if otherFields.1 != "Empty" %}/{{otherFields.1}}{% endif %}</h4>
              <div class="row">
              <h5 class="text-white m-b-0 col-4">Female Responses: {{presurveyMaleFemale.0.id__count}}</h5>
              <h5 class="text-white m-b-0 col-4">Male Responses: {{presurveyMaleFemale.1.id__count}}</h5>
            <h5 class="text-white m-b-0 col-4">Total Responses: {{totalResponse_Presurvey}}</h5>
          </div>
        </div>
          <!-- <div class="col-4 text-right">
            <canvas id="update-chart-1" height="50"></canvas>
          </div> -->
        </div>
      </div>
    </div>
  </div>
<!-- end -->


<!-- Are You Engaged in Any Economic Activity? -->
  <div class=" col-md-8 p-0">
      <div id="container01E"></div>
  </div>
<!-- end -->

<!-- What type of Economic activity are you Engaged in? -->
<div class="col-md-7 shadow-sm p-0">
      <div id="container02E"></div>
</div>
<!-- end -->

<h5><strong>Awareness</strong></h5>
<!-- Are you aware of the Government’s decision to introduce the e-levy tax?-->
<div class="col-md-8 p-0">
  <div id="container04E"></div>
</div>
<!-- end -->

<h5><strong>Opinion</strong></h5>
<!-- if yes, do you support Government’s decision to introduce the e-levy tax?-->
<div class="col-md-8 p-0">
  <div id="container05E"></div>
</div>
<!-- end -->

<h5><strong>Opinion</strong></h5>
<!-- Government’s consider other areas rather than  e-levy tax?-->
<div class="col-md-8 p-0">
  <div id="container056E"></div>
</div>
<!-- end -->

<!-- <h5><strong>Opinion</strong></h5> -->
<!-- Should the Government consider other areas of increasing the tax net instead of the e-levy?-->
<!-- <div class="col-md-8 p-0">
  <div id="container06E"></div>
</div> -->
<!-- end -->

<h5><strong>Opinion</strong></h5>
  <!-- Do you think the e-levy will affect the businesses of mobile money vendors? -->
<div class="col-md-8 p-0">
  <div id="container07E"></div>
</div>
<!-- end -->

<h5><strong>Opinion</strong></h5>
Do you think the collection of the e-levy tax would help the Government achieve its intended purpose
 <div class="col-md-8 p-0">
  <div id="container08E"></div>
</div>
<!-- end -->

<h5><strong>Opinion</strong></h5>
<!-- In your opinion, do you see the e-levy tax as the best way to increase revenue for the -->
<div class="col-md-8 p-0">
  <div id="container09E"></div>
</div>
<!-- end -->

  

{% block js %}  

<script>
  // ///////Are You Engaged in Any Economic Activity?
var trace1 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in yesAnyEconomyEducationSheet %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in yesAnyEconomyEducationSheet %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in yesAnyEconomyEducationSheet %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in yesAnyEconomyEducationSheet %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in yesAnyEconomyEducationSheet %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}


],
  name: 'Yes',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for s in noAnyEconomyEducationSheet %}{% if s.0 == 'No formal education' %}Math.round(({{s.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in noAnyEconomyEducationSheet %}{% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in noAnyEconomyEducationSheet %}{% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in noAnyEconomyEducationSheet %}{% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in noAnyEconomyEducationSheet %}{% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}


],
  name: 'No',
  type: 'bar',
    marker: {
      color: 'red'
    }
};


var data = [trace1,trace2];

var layout = {
        barmode: 'stack',
        xaxis: {title: 'What is your level of education?'},
       yaxis: {title: 'Percentage (%)'},
        title: 'Are You Engaged in Any Economic Activity?'

          };

Plotly.newPlot('container01E', data, layout);
/////////////////////////////


///// What type of Economic activity are you Engaged in?
var trace1 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in EngagedActivity_notWorking %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in EngagedActivity_privateSector %} {% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in EngagedActivity_publicSector %} {% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in EngagedActivity_selfEmployed %} {% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in EngagedActivity_student %} {% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}


],
  name: 'Not working',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for s in EngagedActivity_notWorking %}{% if s.0 == 'JHS' %}Math.round(({{s.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_privateSector %}{% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_publicSector %}{% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_selfEmployed %}{% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_student %}{% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}


],
  name: 'Private Sector',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

  
var trace3 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for s in EngagedActivity_notWorking %}{% if s.0 == 'SHS' %}Math.round(({{s.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_privateSector %}{% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_publicSector %}{% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_selfEmployed %}{% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_student %}{% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}


],
  name: 'Public Sector',
  type: 'bar',
    marker: {
      color: 'yellow'
    }
};

  
var trace4 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for s in EngagedActivity_notWorking %}{% if s.0 == 'Post-graduate' %}Math.round(({{s.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_privateSector %}{% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_publicSector %}{% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_selfEmployed %}{% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_student %}{% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}


],
  name: 'Self-employed',
  type: 'bar',
    marker: {
      color: 'black'
    }
};
  
var trace5 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for s in EngagedActivity_notWorking %}{% if s.0 == 'Tertiary' %}Math.round(({{s.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_privateSector %}{% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_publicSector %}{% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_selfEmployed %}{% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
  {% for i in EngagedActivity_student %}{% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}


],
  name: 'Student',
  type: 'bar',
    marker: {
      color: 'brown'
    }
};


var data = [trace1,trace2,trace3,trace4,trace5];

var layout = {
        barmode: 'stack',
        xaxis: {title: 'What is your level of education?'},
       yaxis: {title: 'Percentage (%)'},
        title: 'What type of Economic activity are you Engaged in?'

          };

Plotly.newPlot('container02E', data, layout);

///////////////////////////////////


// Are you aware of the Government’s decision to introduce the e-levy tax?
var trace1 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in awareOfElevy_yes %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_yes %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_yes %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_yes %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_yes %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}

],
  name: 'Yes',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
  {% for i in awareOfElevy_no %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_no %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_no %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_no %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_no %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'No',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

var trace3 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in awareOfElevy_indifference %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_indifference %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_indifference %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_indifference %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in awareOfElevy_indifference %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Indifferent',
  type: 'bar',
    marker: {
      color: 'gray'
    }
};


var data = [trace1,trace2,trace3];

var layout = {
        barmode: 'stack',
        xaxis: {title: 'What is your level of education?'},
       yaxis: {title: 'Percentage (%)'},
        title: 'Are you aware of the Government’s decision to introduce the e-levy tax?'

          };

Plotly.newPlot('container04E', data, layout);
////////////////////////////


// if yes, do you support Government’s decision to introduce the e-levy tax?

var trace1 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in support_elevy_introduction_yes %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in support_elevy_introduction_yes %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in support_elevy_introduction_yes %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in support_elevy_introduction_yes %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in support_elevy_introduction_yes %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Yes',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in support_elevy_introduction_no %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in support_elevy_introduction_no %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in support_elevy_introduction_no %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in support_elevy_introduction_no %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in support_elevy_introduction_no %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'No',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

var trace3 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in support_elevy_introduction_indifference %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in support_elevy_introduction_indifference %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in support_elevy_introduction_indifference %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in support_elevy_introduction_indifference %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in support_elevy_introduction_indifference %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Indifferent',
  type: 'bar',
    marker: {
      color: 'gray'
    }
};

var data = [trace1,trace2,trace3];
var layout = {
        barmode: 'stack',
        xaxis: {title: 'What is your level of education?'},
       yaxis: {title: 'Percentage (%)'},
        title: "if yes, do you support Government’s decision to introduce the e-levy tax?"

          };
Plotly.newPlot('container05E', data, layout);
////////////////////////////


//  Government’s consider other areas rather than the e-levy tax?

var trace1 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in gov_considered_other_area_instead_elevy_yes %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_yes %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_yes %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_yes %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_yes %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Yes',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in gov_considered_other_area_instead_elevy_no %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_no %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_no %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_no %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_no %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'No',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

var trace3 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in gov_considered_other_area_instead_elevy_indifference %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_indifference %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_indifference %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_indifference %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in gov_considered_other_area_instead_elevy_indifference %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Indifferent',
  type: 'bar',
    marker: {
      color: 'gray'
    }
};

var data = [trace1,trace2,trace3];
var layout = {
        barmode: 'stack',
        xaxis: {title: 'What is your level of education?'},
       yaxis: {title: 'Percentage (%)'},
        title: "Should Government consider other areas rather than the e-levy tax?"

          };
Plotly.newPlot('container056E', data, layout);
////////////////////////////


// Do you think the e-levy will affect the businesses of mobile money vendors?
var trace1 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
  {% for i in elevy_affect_momo_business_yes %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in elevy_affect_momo_business_yes %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in elevy_affect_momo_business_yes %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in elevy_affect_momo_business_yes %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in elevy_affect_momo_business_yes %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Yes',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in elevy_affect_momo_business_no %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in elevy_affect_momo_business_no %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in elevy_affect_momo_business_no %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in elevy_affect_momo_business_no %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in elevy_affect_momo_business_no %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'No',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

var trace3 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in elevy_affect_momo_business_indifference %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in elevy_affect_momo_business_indifference %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in elevy_affect_momo_business_indifference %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in elevy_affect_momo_business_indifference %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in elevy_affect_momo_business_indifference %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Indifference',
  type: 'bar',
    marker: {
      color: 'gray'
    }
};

var data = [trace1,trace2,trace3];
var layout = {
        barmode: 'stack',
        xaxis: {title: 'What is your level of education?'},
       yaxis: {title: 'Percentage (%)'},
        title: "Do you think the e-levy will affect the businesses of mobile money vendors?"

          };
Plotly.newPlot('container07E', data, layout);
////////////////////////////


//  Do you think the collection of the e-levy tax would help the Government achieve the 
var trace1 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in collection_elevy_help_govenment_yes %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in collection_elevy_help_govenment_yes %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in collection_elevy_help_govenment_yes %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in collection_elevy_help_govenment_yes %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in collection_elevy_help_govenment_yes %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Yes',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in collection_elevy_help_govenment_no %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in collection_elevy_help_govenment_no %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in collection_elevy_help_govenment_no %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in collection_elevy_help_govenment_no %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in collection_elevy_help_govenment_no %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'No',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

var trace3 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in collection_elevy_help_govenment_indifference %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in collection_elevy_help_govenment_indifference %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in collection_elevy_help_govenment_indifference %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in collection_elevy_help_govenment_indifference %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in collection_elevy_help_govenment_indifference %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Indifferent',
  type: 'bar',
    marker: {
      color: 'gray'
    }
};

var data = [trace1,trace2,trace3];
var layout = {
        barmode: 'stack',
        xaxis: {title: 'What is your level of education?'},
       yaxis: {title: 'Percentage (%)'},
        title: ""

          };
Plotly.newPlot('container08E', data, layout);
////////////////////////////



//  In your opinion, do you see the e-levy tax as the best way to increase revenue for the 
var trace1 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in ur_opinion_elevey_increase_revenue_yes %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_yes %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_yes %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_yes %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_yes %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Yes',
  type: 'bar',
    marker: {
      color: 'green'
    }
    }
  
var trace2 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in ur_opinion_elevey_increase_revenue_no %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_no %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_no %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_no %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_no %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'No',
  type: 'bar',
    marker: {
      color: 'red'
    }
};

var trace3 = {
  x: ['No formal Education','JHS','SHS','Post-graduate','Tertiary'],
  y: [
{% for i in ur_opinion_elevey_increase_revenue_yes_indifference %}{% if i.0 == 'No formal education' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_yes_indifference %} {% if i.0 == 'JHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_yes_indifference %} {% if i.0 == 'SHS' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_yes_indifference %} {% if i.0 == 'Post-graduate' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100),{% endif %}
{% endfor %}
{% for i in ur_opinion_elevey_increase_revenue_yes_indifference %} {% if i.0 == 'Tertiary' %}Math.round(({{i.1}}/{{totalResponse_Presurvey}})*100){% endif %}{% endfor %}
],
  name: 'Indifferent',
  type: 'bar',
    marker: {
      color: 'gray'
    }
};

var data = [trace1,trace2,trace3];
var layout = {
        barmode: 'stack',
        xaxis: {title: 'What is your level of education?'},
       yaxis: {title: 'Percentage (%)'},
        title: "Has there been enough sensitization on E-levy? "

          };
Plotly.newPlot('container09E', data, layout);
////////////////////////////



</script>

{% endblock js %}
